@import './loading';

@font-face{
	font-family: HYPPtiJ;
	font-style: normal;
	src: url("./fonts/HYPPtiJ.ttf");
}


body{
	background: #fff;
	font-family: HYPPtiJ;
	font-size: 20px;
}



.container{
	margin: 0 auto;
	width: 794px;
}

.app_name{
	text-align: center;
	margin: 1em 0;
	span {
		color: #24D418;
	}
}

.todo-list{
	background: #e6e6e6;
	border-radius: 4px;
	box-shadow: 0 0 3px 0 #878787;
	#tood-input{
		height: 80px;
		margin: 17px 22px;
		padding: 0 20px;
		width: 750px;
		border: none;
		outline: none;
		font-size: 30px;
		color: #e6e6e6;

		&:focus{
			color: #000
		}

		background-image: url(images/enter.png);
		background-repeat: no-repeat;
		background-position: right center;
		background-origin: content-box;
	}

	footer{
		font-size: 1.1rem;
		opacity: .6;
		padding: 5px 22px;
		span{
			font-size: .9rem;
		}
		.btn{
			top: -20px;
			left: -13px;
			ul{
				position: absolute;
				width: 75px;
				left: -16px;
				top: 35px;
				display: none;

			}
		}
	}

	.btn{
		float: right;
		font-size: .9rem;
		position: relative;
		top: -5px;
		left: 5px;
		i{
			width: 40px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			display: inline-block;
			cursor: pointer;

			&.icon.more{
				background: url(images/more.png) center center no-repeat;
			}
		}
		&:hover ul{
			display: inline-block;
			z-index: 99;
		}
		ul{
			position: absolute;
			width: 75px;
			display: none;
			text-align: center;
			left: -15px;
			top: 18px;
			box-shadow: 0 0 2px 0 rgba(0,0,0,.2);
			transition: all .5s;
		}
		li{
			list-style: none;
			cursor: pointer;
			background: #fff;
			padding: 5px 15px;
			display: block;

			&:hover{
				background: #eee;
			}
		}
	}

	.list{
		background: rgba(251, 251, 251, 0.66);
		padding: 15px 0;
	}

	.item{
		width: 750px;
		height: 80px;
		margin: 15px 22px;
		padding: 10px 20px;
		position: relative;
		display: inline-block;
		background: #fff;

		.content{
			padding: 5px 0 10px;
			font-size:20px;
			line-height: 20px;
		}

		time{
			color: #9a9a9a;
			font-size: 16px;
		}
	}

	.status{
		position: absolute;
		cursor: pointer;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background: #e6e6e6;
		right: 20px;
		top: 10px;
	}
}
