---
---

@import "jekyll-theme-minimal";

a {
    cursor: pointer;
}

#inlineEdit {
    display: inline-block;
}

#inlineEdit .cl {
    margin-top: -46.5px;
    margin-left: -10px;
    margin-right: 10px;
}