
{{#if block}}

<a href='{{adjustedTo}}' on:click='navigate(event, to)' style="display: block">{{yield}}</a>

{{elseif blockCenter}}

<a href='{{adjustedTo}}' on:click='navigate(event, to)' style="display: block;text-align: center">
  {{yield}}
</a>

{{else}}

<a href='{{adjustedTo}}' on:click='navigate(event, to)'>{{yield}}</a>

{{/if}}

<script>
import history from '../services/history';

export default {
  data() {
    return {
      to: '/'
    };
  },

  computed: {
    adjustedTo: to => process.env.APP_BASE_PATH + to,
  },

  methods: {
    navigate(evt, path) {
      if (evt && evt.preventDefault) evt.preventDefault();

      if (path) history.push(path);
    }
  }
}
</script>

<style type="text/css">
  a{
    color: #414042; 
    text-decoration: none;
  }
</style>