<h3>蝶恋花·伫倚危楼风细细</h3>
<p>
伫倚危楼风细细。
望极春愁，黯黯生天际。
草色烟光残照里。
无言谁会凭阑意。
拟把疏狂图一醉。
对酒当歌，强乐还无味。
衣带渐宽终不悔。
为伊消得人憔悴。
</p>

<p class="desc">
中国近代著名的学者王国维，在他的《人间词话》一书中谈到：古往今来，凡是能成就大事业、大学问的人，无不经过读书的三种境界：“昨夜西风凋碧树。独上高楼，望尽天涯路。”“衣带渐宽终不悔，为伊消得人憔悴。”“众里寻他千百度，蓦然回首，那人却在灯火阑珊处。”这贴切的比喻，使读书的三种境界形象化了。
“昨夜西风凋碧树。独上高楼，望尽天涯路。”这是求学的第一步，是说必须站得高，看得远，选定自己的奋斗目标。“衣带渐宽终不悔，为伊消得人憔悴。”这是说，一个人在认定自己的奋斗目标之后，就必须刻苦读书学习，为实现自己的目标而拼搏，即使衣带宽了，人渐瘦了，也始终不后悔。“众里寻他千百度，蓦然回首，那人却在灯火阑珊处。”这是说，在千百次地寻求知识之后，回过头来一看，忽然发现自己为之奋斗的目标就在眼前了
</p>

<script>
	export default {
		
	}
</script>

<style>
	.desc{
		line-height: 1.7;
	}
</style>