
<div class="item">
	<div class="content">{{content}}</div>
	<time>
	{{ time }}
		<div class="btn">
			<i>···</i>
			<ul class="menu">
				<li on:click="completed(todo)">
				{{#if !status}}
				完成
				{{else}}
				取消
				{{/if}}
				</li>
				<li on:click='fire("edit", { todo: todo })'>编辑</li>
				<li on:click="remove(todo)">删除</li>
			</ul>
		</div>
	</time>

	<div class="status {{ status? 'completed': '' }}" on:click="completed(todo)"></div>

</div>

<script type="text/javascript">
	import api from '../api';
	export default{
		data(){
			return {
				todo: {}
			}
		},
		computed: {
			content: (todo) => {
				if (todo && todo.get) {
					return todo.get('text');
				}
				return '空';
			},
			time: (todo)=>{
				let time = todo.updatedAt;
				return `${time.getFullYear()}年${time.getMonth()}月${time.getDate()}日`;
			},
			status: (todo) => {
				if (todo.get('status') === 'default') {
					return false;
				}

				return true;
			}
		},
		methods: {
			async completed(todo){
				let status = this.get('status');
				if (status === false) {
					todo.set('status', 'completed');
				}else{
					todo.set('status', 'default');
				}
				await todo.save();
				this.set({
					todo
				})
			},
			async remove(todo){
				this.root.deleteTodo(todo);
				await api.delteTodo(todo.id);
			}
		},
		onrender(){
			
		}
	}
</script>

<style type="text/css">
	.completed{
		background: #24D418;
	}
</style>